<%= form_with local: true do |f|%>
  <div class="field">
    <%= form.label :title, "プロトタイプの名称" %><br />
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :catch_copy, "キャッチコピー" %><br />
    <%= form.text_area :catch_copy, class: :form__text %>
  </div>

  <div class="field">
    <%= form.label :consept, "コンセプト" %><br />
    <%= form.text_area :consept, class: :form__text %>
  </div>

  <div class="field">
    <%= form.label :image, "プロトタイプの画像" %><br />
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "保存する", class: :form__btn  %>
  </div>
<% end %>